@{
    ViewBag.Title = "AngularJS - Getting Started";
}

<div class="jumbotron">
    <h1>AngularJS</h1>
    <p class="lead">This course demonstrates how to use the essential abstractions of AngularJS, including modules, controllers, directives, and services.</p>
    <p><a href="http://pluralsight.com/training/Courses/TableOfContents/angularjs-get-started" target="_blank" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div ng-app="githubViewer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron" ng-controller="MainController">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="row">
            <div ng-controller="UserController">
                <div class="col-md-12">
                    <form name="searchUser" ng-submit="searchGithub()">
                        <input type="search" required placeholder="search" ng-model="username" />
                        <input type="submit" value="Search" />
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        {{error}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Name
                    </div>
                    <div class="col-md-10">
                        {{user.name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Email
                    </div>
                    <div class="col-md-10">
                        {{user.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Gravatar
                    </div>
                    <div class="col-md-10">
                        <img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}" alt="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <select ng-model="repoSortOrder">
                            <option value="+name">Name</option>
                            <option value="-stargazers_count">Stars</option>
                            <option value="+language">Language</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">Repositories</div>
                    <div class="col-md-10">
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Stars</th>
                                <th>Language</th>
                            </tr>
                            <tr ng-repeat="repo in repos | orderBy : repoSortOrder">
                                <td>{{repo.name}}</td>
                                <td>{{repo.stargazers_count | number}}</td>
                                <td>{{repo.language}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/custom/script.js"></script>
    <script src="~/Scripts/custom/controllers/main.js"></script>
    <script src="~/Scripts/custom/controllers/user.js"></script>
}